
#intro-part {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.intro1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background: url(../static/interlaced.png);
    font-family: "Montserrat";
    color: black;
}

.intro1 h1 {
    font-size: 277%;
    font-weight: 800;
}
 .intro1 .about-me {
     position: absolute;
     top: 10%;
     line-height: 150%;
     padding: 2% 3%;
     margin: 0% 4%;
     background: white;
 }
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px; 
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; 
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
          }
}

.intro2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    background: #7f8c8d;
}

#signature {
    display: inline-block;
    position: fixed;
    top: 24%;
    font-size: 400%;
    color: black;
    padding-left: 5%;
}

.signature1 {
    font-family: 'Pacifico', cursive;
}

.signature2 {
    font-family: 'Teko', sans-serif;
    font-size: 500%;
    font-weight: bold;
}

.divider {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 10%;
    border-right: 5px inset #003366;
}

.dropdown {
    position: absolute;
    z-index: 2;
    display: inline-block;
    left: 50%;
    margin-left: -32px;
    margin-top: 4px;
    top: 90%;
    font-size: 400%;
    color: #003366;
    transition: all 0.5s ease-out;
}

.dropdown:hover {
    color: #000000;
}

.contents a:visited {
    color: #f1c40f;
}

.contents a:active {
    color: #8e44ad;
}

.contents {
    position: absolute;
    z-index: 10;
    top: 24%;
    font-size: 300%;
    margin-left: 25%;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
}

.contents a {
    color: #f1c40f;
    transition: all 0.5s ease-out;
}

.contents a:hover {
    color: #003366;
}

.minimize-nav {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 3%;
    font-size: 400%;
    font-weight: bold;
    color: #f1c40f;

}

.minimize-nav a {
    text-decoration: none;
}

.minimize-nav a:visited {
    color: #f1c40f;
}

#intro-nav a:hover {
    color: #003366;
    color: #003366;
}

.container {
    position: fixed;
    top: 75%;
    bottom: 0%;
    right: 0%;
    left: 50%;
}

.glitch-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 1
}

.mypic {
    position: fixed;
    float: right;
    bottom: 0;
    right: 0;
    display: flex;
}

.mypic img {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 25.5%;
    max-height: 25%;
}
