/* Sets the ease-out transition for the given element and time */
/* Decides what color to use based on given color and opacity for the element */
/* Gets rid of all the default stylings */
*html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-family: "Ms PGothic";
}

/* Removes the underlines and other default decorations from the link */
a {
    text-decoration: none;
}

/* Forms a layer of black color which is then lightened over the background image to create the overall background in case of HOME */
body {
    overflow: hidden;
    background: url('../static/bg-mob.png');
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    /* Adds a pseudo element after the background image, that is our layer of black color */
}

body:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.82);
    background-size: cover;
}

.no-after:after {
    display: none;
    content: none;
}

/* The home-text section is everything that we display on our homepage */
.home-text {
    font-size: 55px;
    position: fixed;
    top: 25%;
    left: 10%;
    bottom: 25%;
    line-height: 70px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 3;
    /* Sets the background of the quote written on home */
    /* Sets the properties for the icons taken from Font-Awesome to blend in the home page */
}

.home-text .quote {
    width: 100%;
    height: 35px;
    background: rgba(112, 112, 112, 0.2);
    /* Sets the properties of the text inside the quote div */
}

.home-text .quote h6 {
    color: white;
    line-height: 30px;
    font-size: 25px;
    padding: 2px;
}

.home-text .icons {
    /* Sets properties for link to social media handles */
}

.home-text .icons a {
    color: rgba(112, 112, 112, 0.7);
    line-height: 100px;
    transition: all 0.5s ease-out;
}

.home-text .icons a:hover {
    color: gray;
}

/* Navigation bar present on the home along-with the layer that opens on clicking it and related properties */
nav {
    /* The menu layer that appears on clicking the menu button */
}

nav .menu-btn-before {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 3;
    /* Defines the properties of the button lines that are present on the menu icon */
}

nav .menu-btn-before .btn-line {
    width: 28px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 0.5s ease-out;
}

nav .menu-btn-before:hover .btn-line {
    background: gray;
}

nav .menu-btn-after {
    z-index: 0;
    position: fixed;
}

nav .menu-btn-after #btn1 {
    top: 15px;
    right: 15px;
    width: 100%;
    height: 3px;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    transition: all 1s ease-out;
}

nav .menu ul {
    color: rgba(255, 255, 255, 0);
    margin-top: 20%;
    margin-bottom: 20%;
    list-style-type: none;
}

nav .menu ul a {
    display: none;
    font-size: 50px;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 60px;
}

nav .menu_effect {
    display: block;
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.7);
}

nav .menu_effect a {
    display: block !important;
}
