$primary-home-color: #000000;
$home-opacity: 0.82;

/* Sets the ease-out transition for the given element and time */

@mixin easeout($element-given, $time-given) {
    transition: $element-given $time-given ease-out;
}

/* Decides what color to use based on given color and opacity for the element */

@mixin rgba-color($color-given, $opacity-given) {
    color: rgba($color-given, $opacity-given)
}

/* Gets rid of all the default stylings */

*html{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

html{
    font-family: "Ms PGothic";
}

/* Removes the underlines and other default decorations from the link */

a{
    text-decoration: none;
}

/* Forms a layer of black color which is then lightened over the background image to create the overall background in case of HOME */  

body{
    overflow: hidden; // Hides the scrollbar for the browser
    background: url(../bg-mob.png); // By default includes the background img for small devices
    background-attachment: fixed; // Keeps the background image fixed
    background-size: cover; // Makes the image cover the whole background despite of it's size
    z-index: -1; // Gets the background layer to the bottom (i.e. away from the user)
    
    /* Adds a pseudo element after the background image, that is our layer of black color */
    
    &:after{
        content: ''; // Since, no content is needed on the background layers
        position: absolute; //Gets the layer out of the flow of the page
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; // Lets it expand over our background image
        background: rgba($primary-home-color, $home-opacity);
        background-size: cover;
    }

}

/* The home-text section is everything that we display on our homepage */

.home-text{
        font-size: 55px; // The font-size for name
        position: fixed; // Keeps it fixed on the set location
        top: 25%;
        left: 10%;
        bottom:25%;
        line-height: 70px; // Gives proper spacing between the individual lines
        @include rgba-color(white,0.8); // Gives the name color and opacity
        z-index: 1; // Makes it overlap the background layer so it is displayed correctly
    
    /* Sets the background of the quote written on home */
    
    .quote{
        width: 100%;
        height: 35px;    
        background: rgba(#707070,0.2);
            
        /* Sets the properties of the text inside the quote div */    
            
        h6{
            color: white;
            line-height: 30px;
            font-size: 25px;
            padding: 2px;
            }
   
        }
    
    /* Sets the properties for the icons taken from Font-Awesome to blend in the home page */
    
    .icons{
        
        /* Sets properties for link to social media handles */
        
        a{  
            @include rgba-color(#707070,0.7);
            line-height: 100px;
            @include easeout(all, 0.5s); // Gives the links an ease out transition effect on hovering
            
            &:hover{
                @include rgba-color(gray,1); // Highlights the color of the handles  on hovering
                }            
            }        
        }    
    }

/* Navigation bar present on the home along-with the layer that opens on clicking it and related properties */
 
nav{    
    .menu-btn-before{
        position: fixed; // Keeps the navigation bar fixed
        top: 15px;
        right: 15px; // Values for where to fix the nav bar
        z-index: 3; // Places the nav bar on the top of all the layers
        /* Defines the properties of the button lines that are present on the menu icon */
        
        .btn-line{
            width: 28px;
            height: 3px;
            background: white;
            margin: 5px;
            @include easeout(all, 0.5s); // Gives transition effect on hovering
        }

        &:hover{
            .btn-line{
                background: gray; // Highlights all the button lines on hovering
                }
            }                
    }
    
    .menu-btn-after{
        z-index: 0;
        position: fixed;
            
        #btn1{
            top: 15px;
            right: 15px;
            width: 100%;
            height: 3px;
        }
        
    }
    
    /* The menu layer that appears on clicking the menu button */
    
    .menu{
        display: none;    
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-home-color, 0);
        z-index: 2;
        @include easeout(all, 1s);   
        //transition:all 2s;    
        
        ul{ 
            color: rgba(white,0); 
            margin-top: 20%;
            margin-bottom:20%;
            list-style-type: none;
            
            a{  display: none;
                font-size: 50px;
                font-weight: bold;
                margin-left: 10%;
                margin-right: 10%; 
                line-height:60px;
                
            }
        }
    }
    .menu_effect{
        display: block;
        background: rgba($primary-home-color,0.9);
        color: rgba(white,0.7);
        a{
            display: block !important;
        }
    }

}
