$primary-home-color: #000000;
$home-opacity: 0.82;

@mixin easeout {
    transition: all 0.5s ease-out;
}

@mixin rgba-color($color-given, $opacity-given) {
    color: rgba($color-given, $opacity-given)
}

*html{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

html{
    font-family: "Ms PGothic";
}

/* Forms a layer of black color which is then lightened over the background image to create the overall background in case of HOME */  

body{
    overflow: hidden; // Hides the scrollbar for the browser
    background: url(../bg-mob.png); // By default includes the background img for small devices
    background-attachment: fixed; // Keeps the background image fixed
    background-size: cover; // Makes the image cover the whole background despite of it's size
    z-index: -1; // Gets the background layer to the bottom (i.e. away from the user)
    
    /* Adds a pseudo element after the background image, that is our layer of black color */
    
    &:after{
        content: ''; // Since, no content is needed on the background layers
        position: absolute; //Gets the layer out of the flow of the page
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; // Lets it expand over our background image
        background: rgba($primary-home-color, $home-opacity);
        background-size: cover;
    }

}

/* The home-text section is everything that we display on our homepage */

.home-text{
        font-size: 55px; // The font-size for name
        position: fixed; // Keeps it fixed on the set location
        top: 25%;
        left: 10%;
        bottom:25%;
        line-height: 70px; // Gives proper spacing between the individual lines
        @include rgba-color(white,0.8); // Gives the name color and opacity
        z-index: 1; // Makes it overlap the background layer so it is displayed correctly
    
        /* Sets the background of the quote written on home */
    
    .quote{
        width: 100%;
        height: 35px;    
        background: rgba(#707070,0.2);
            
        /* Sets the properties of the text inside the quote div */    
            
        h6{
            color: white;
            line-height: 30px;
            font-size: 25px;
            padding: 2px;
            }
   
        }
    
    /* Sets the properties of the icons taken from Font-Awesome to blend in the home page */
    
    .icons{
        a{  
            color: rgba(#707070,0.7);
            line-height: 100px;
            text-decoration-line: none;
            &:hover{
                color: gray;
                @include easeout;
            }
        }
    }

        
   
    }

 
nav{    
    .menu-btn{
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 3;
        &:hover{
            .btn-line{
                background: gray;
                @include easeout();
            }
            }
        
        
        .btn-line{
            
            width: 28px;
            height: 3px;
            background: white;
            margin: 5px;
            transition: 1s;
            
            
        }
        
        .btn1-effect{
                position: relative;
                width :100vm;
        }
        .btn2-effect{
            width: 30px;
            height: 4px;
        }
        .btn3-effect{
            transform: rotateZ(90deg);
            width: 100vm;
        }
    }
    
        .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-home-color,0);
        z-index: 2;
           
        transition:all 2s;    
        
        ul{ 
            color: rgba(white,0); 
            margin-top: 20%;
            margin-bottom:20%;
            list-style-type: none;
            
            a{  display: none;
                font-size: 50px;
                font-weight: bold;
                margin-left: 10%;
                margin-right: 10%; 
                line-height:60px;
                
            }
        }
    }
    .menu_effect{
        display: block;
        background: rgba($primary-home-color,0.9);
        color: rgba(white,0.7);
        a{
            display: block !important;
        }
    }

}
